<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257021049821-bboqi53h4muuqajnaub3v8ltmpk5d8lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257021049821-bboqi53h4muuqajnaub3v8ltmpk5d8lc</string>
	<key>API_KEY</key>
	<string>AIzaSyAgxLBeGKSuIwq2cO977KDLGG4ZDOcpiHY</string>
	<key>GCM_SENDER_ID</key>
	<string>257021049821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>game.spriteKit.Edible.Not.Edible</string>
	<key>PROJECT_ID</key>
	<string>edible-271f4</string>
	<key>STORAGE_BUCKET</key>
	<string>edible-271f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257021049821:ios:d918d62e1bb29db25e1434</string>
	<key>DATABASE_URL</key>
	<string>https://edible-271f4.firebaseio.com</string>
</dict>
</plist>